:root {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(24, 24, 24);
  margin: 0;
  -webkit-animation: fadein 5s;
  -moz-animation: fadein 5s;
  -ms-animation: fadein 5s;
  -o-animation: fadein 5s;
  animation: fadein 5s;
}
body::-webkit-scrollbar {
  width: 16px;
  height: 18px;
  background-color: rgba(240, 248, 255, 0);
}
body::-webkit-scrollbar-track {
  display: none;
}
body::-webkit-scrollbar-thumb {
  height: 6px;
  width: 15px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(146, 146, 146, 0.445);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(109, 109, 109, 0.479);
}

body::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
body::-webkit-scrollbar-corner {
  background-color: transparent;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: 0px;
  margin-right: 0px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
a {
  font-size: 14px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}
h1 {
  color: white;
  font-family: 'DM Serif Display', serif;
  font-size: 40px;
  margin-bottom: 0px;
}
h2 {
  color: rgba(255, 255, 255, 0.801);
  font-family: 'Inter', sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 16px;
}
h3 {
  color: white;
  font-family: 'DM Serif Display', serif;
  font-size: 25px;
  margin-bottom: 5px;
}
p {
  margin-top: 5px;
}

label{
  font-family: 'Inter', sans-serif;
}

textarea{
  resize: none;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

#About {
  padding-top: 1px;
}
#Projects {
  padding-top: 1px;
}
.nav-bar {
  background-color: rgba(0, 0, 0, 0.767);
  position: fixed;
  top: 0%;
  min-width: 100vw;
  z-index: 1000;
}
.nav {
  /* background-color: cornflowerblue; */
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 4px;
}

@media only screen and (max-width: 800px) {
  .nav {
    display: none;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.brand-text {
  font-size: 16px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.849);
  transition: 0.3s;
}

.brand-text:hover {
  color: rgba(199, 199, 199, 0.753);
}

.nav-link {
  font-size: 14px;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgba(255, 255, 255, 0.753);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  transition: 0.3s;
}

.nav-link:hover {
  color: rgba(199, 199, 199, 0.699);
}

.cv-link {
  background-color: #002238;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 1px;
  transition: 0.3s;
}

.cv-link:hover {
  background-color: #013152;
  color: rgb(255, 255, 255);
}
.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  margin-top: 25px;
  margin-bottom: 30px;
}
.hero-container {
  height: 100vh;
}
.intro-heading {
  max-width: 350px;
}

.hero-image {
  min-width: 100vw;
}

.hero-image-container {
  max-height: 60%;
}

.parallax {
  background-image: url(./iurie-glacialrivers-6.webp);
  min-height: 60%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  .parallax {
    background-attachment: inherit;
    min-height: 400px;
  }
  .hero-image-container {
    max-height: 400px
  }
}

.about-section {
  min-height: 50vh;
}

.about-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.about-title {
  margin-top: 0px;
}
.projects-container {
  margin-top: 80px;
}

.written-content {
  max-width: 450px;
  font-family: 'Inter', sans-serif;
  color: rgba(255, 255, 255, 0.589);
  font-size: 14px;
  word-spacing: 3px;
  line-height: 20px;
}

.project {
  display: grid;
  grid-template-columns: 3fr 4fr;
  margin-top: 30px;
  min-height: 450px;
}

@media only screen and (max-width: 800px) {
  .project {
    grid-template-columns: 1fr 0fr;
  }
}
.project1 {
  background-color: rgb(5, 15, 47);
  transition: 0.4s;
}
.project1:hover {
  transform: translate(0, -5px);

  box-shadow: 25px 25px 40px #0a142ab9, -25px -25px 40px #0b152fc2;
}
.project2 {
  background-color: #043841;

  transition: 0.4s;
}

.project2:hover {
  transform: translate(0, -5px);

  box-shadow: 20px 20px 40px #002729b9, -10px -10px 40px #01323898;
}
.project3 {
  background-color: #002238;
  transition: 0.4s;
}

.project3:hover {
  transform: translate(0, -5px);

  box-shadow: 25px 25px 40px #0a1c2ab9, -25px -25px 40px #0b1e2fc2;
}

.project-content {
  display: flex;
  flex-direction: column;
  padding: 60px;
  color: white;
  font-family: 'Inter', sans-serif;
}

@media only screen and (max-width: 800px) {
  .project-content {
    padding: 30px;
  }
}

.project-description {
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.747);
  font-size: 14px;
}
.project-title {
  font-family: 'Inter', sans-serif;

  margin-top: 5px;
  margin-bottom: 5px;
}

.project-type {
  margin-top: 0px;
  margin-bottom: 5px;
}

.backend {
  background-image: url(./backend_API.jpg);
  background-size: cover;
}

.frontend {
  background-image: url(./Screenshot\ from\ 2021-08-17\ 17-01-27.png);
  background-size: cover;
  background-position: left;
}

.final {
  background-image: url(./final.jpg);
  background-size: cover;
}

.project-links {
  margin-top: auto;
}

.project-link {
  margin-right: 10px;
}

.contact-container {
  min-height: 350px;
}

.contact-form {
  background-color: rgb(238, 238, 238);
  padding: 60px;
}

@media only screen and (max-width: 800px) {
  .contact-form {
    padding: 30px;
  }
}

.contact-form-fields {
  display: flex;
  flex-direction: column;
}

.contact-header{
  color: black;
}

.contact-section-content{
  color: black;
  max-width: none;
  width: 100%;
  margin-bottom: 30px;
}

.input-boxes {
  border-radius: 0px;
  border-width: 1px;
  border-color: rgb(199, 199, 199);
  border-style: solid;
  box-shadow: none;
  min-height: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px; 
}

.input{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.name-email-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.message-input {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 150px;
}

.submit-button {
  font-family: 'Inter', sans-serif;
  padding: 10px;
  color: white;
  border-radius: 5px;
  border-width: 0px;
  background-color: rgb(0, 85, 155);
  width: 90px;
}

.footer-section {
  padding-top: 30px;
  margin-bottom: 0px;
}
.footer-container {
  width: 100%;
  height: 200px;
  background-color: #002238;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.footer-content{
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.email{
  color: rgba(255, 255, 255, 0.685);
  padding-top: 20px;
}

.socials{
  display: flex;
  justify-content: space-around;
  min-width: 200px;
  padding-top: 30px;
}
