:root {
  scroll-behavior: smooth;
  height: 100%;
  font-size: 10px;
  font-family: monospace;
  color: rgb(101, 123, 143);
}
body {
  background-color: #0a192f;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: overlay;
}
header {
  position: fixed;
  width: 100vw;
  background-color: #0d213f57;

  top: 0;
}
nav {
  background-color: rgba(19, 18, 18, 0.623);
}
ol {
  margin: 0px 0px 10px 0px;
}
ol li {
  display: inline;
  margin: 0px 5px 0px 5px;
}
svg {
  margin-bottom: 10px;
}
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 9rem;
  text-align: center;
  margin-bottom: 0px;
}
h2 {
  font-size: 8rem;
  margin-top: 0px;
  color: rgb(205, 225, 243);
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 2rem;
}
a {
  font-size: 1.5rem;
  color: rgb(205, 225, 243);
  text-decoration: none;
}
main {
  height: 100%;
}
#content {
  height: 100%;
  width: 100%;
}
body::-webkit-scrollbar {
  width: 16px;
  height: 18px;
  background-color: rgba(240, 248, 255, 0);
}
body::-webkit-scrollbar-track {
  display: none;
}
body::-webkit-scrollbar-thumb {
  height: 6px;
  width: 15px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(146, 146, 146, 0.445);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(109, 109, 109, 0.479);
}

body::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
body::-webkit-scrollbar-corner {
  background-color: transparent;
}
.social-links {
  position: fixed;
  background-color: #00640000;
  justify-items: center;
  bottom: 0px;
  left: 0px;
  width: 40px;
}
.nav-bar {
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
  font-size: 3rem;
  border-bottom-color: rgb(205, 225, 243);
  border-bottom-style: solid;
  border-width: 1px;
}
.nav-list {
  display: flex;
  align-items: center;
}
.section {
  padding: 10% 10% 10% 10%;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://wallpaperaccess.com/full/2217435.jpg);
  /* background-image: url("https://i.redd.it/c3uhsgo1vx541.jpg"); */
  height: 100%;
  width: 100%;
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.img {
  background-image: url('https://wallpaperaccess.com/full/180073.jpg');
}
.project-bg {
  height: auto;
  min-height: 50%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.project-heading {
  text-align: right;
}

.title-page-heading {
  font-size: 3rem;
  text-align: center;
}
